/* custom fonts */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');


/* regular config */

*{
    margin: 0;
    padding: 0;
}

html #particles-js{
    background: black;
    height: 100%;

    /* background:url(./bg.jpg); */

    /* background = gradient+image pattern combo */ 
}

body{
    font-family: 'Titillium Web', sans-serif;
    
    /* font: bold; */
}



/* form style */

#msform{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset{
    background: white;
    bottom: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0,0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;


    position: absolute;
    
}

/* Hide All except first fieldset */
#msform fieldset:not(:first-of-type){
    display: none;
}


/* inputs */

#msform input, #msform textarea{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: #2C3E50;
    font-size: 13px;
    
}

#msform .btn {
    width: 100%;

}

/* buttons */
#msform .action-button{
    width: 100%;
    background: blue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


/* heading */

.fs-title{
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
}

.fs-subtitle{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/* progressbar */

#progressbar{
    margin-bottom: 30px;
    overflow: hidden;

    /* CSS counters to number the step */
    counter-reset: step;


}

#progressbar li {
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;

}

#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;

}

/* progressbar connectors */

#progressbar li:after{
    content: '';
    width: 140px;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;

}

#progressbar li:first-child:after{
    content: none;
}


#progressbar li.active:before, #progressbar li.active:after{
    background: blue;
    color: white;
}















